$mobile: 480px;
$tablet: 768px;
// $desktop: 1680px;
$desktop: 1440px;

$main-font: 'Montserrat', sans-serif;

$accent-color: #FF6B09;
$white-color: #FFFFFF;
$title-color: #111518;
$text-color: #B9B9B9;
$text-color-second: rgba(185, 185, 185, 0.5);
$accent-text-color: #3D3D3D;