<header class="section-header">
  <div class="container section-header__container">
    <div class="logo">
      <a href="index.html" class="logo__link">
        <p class="logo__text">Hell<span class="logo__text--icon">EN</span></p>
      </a>
      <p class="logo__title">
        <span class="logo__title--accent">Hellish </span>english
      </p>
    </div>
    <div class="container__header-nav">
      <nav class="header-nav">
        <ul class="navigation">
          <li class="navigation__item">
            <a href="#programs" class="navigation__link">Studying program</a>
          </li>
          <li class="navigation__item">
            <a href="#about" class="navigation__link">About</a>
          </li>
          <li class="navigation__item">
            <a href="#guarantee" class="navigation__link">Training options</a>
          </li>
          <li class="navigation__item">
            <a href="#contacts" class="navigation__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="buttons">
        <button type="button" class="button-header">
          consultation by phone
        </button>
        <button
          class="button-mobmenu menu-open-btn'"
          type="button"
          aria-controls="menu"
          data-menu-button
        >
          <svg
            aria-label="Переключатель мобильного меню"
            width="21"
            height="18"
          >
            <use
              class="button-mobmenu__icon--open"
              href="./images/icons.svg#icon-menu"
            ></use>
            <use
              class="button-mobmenu__icon--close"
              href="./images/icons.svg#icon-close"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="mob-menu" id="menu" data-menu>
      <div class="logo mob-menu__logo">
        <a href="index.html" class="logo__link">
          <p class="logo__text">Hell<span class="logo__text--icon">EN</span></p>
        </a>
        <p class="logo__title">
          <span class="logo__title--accent">Hellish </span>english
        </p>
      </div>
      <ul class="navigation">
        <li class="navigation__item">
          <a href="#programs" class="navigation__link">Studying program</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link">About</a>
        </li>
        <li class="navigation__item">
          <a href="#guarantee" class="navigation__link">Training options</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link">Contacts</a>
        </li>
      </ul>
      <button type="button" class="mob-menu__button">
        Consultation by phone
      </button>
    </div>
  </div>
  <!-- <img src="./images/wave-bgnd-mob.png" alt="" class="bg-img" /> -->
</header>
