<section class="section-hero">
  <div class="container">
    <div class="hero-thumb">
      <h1 class="section-hero__title">Complex preparation for English UPE</h1>
      <p class="section-hero__text">It won’t be easy.</p>
      <p class="section-hero__pre-title">
        But you’re guaranteed to get
        <span class="section-hero__pre-title--accent">+25 points</span>
      </p>
      <button class="section-hero__button" type="button">
        I want a free lesson
      </button>
    </div>
    <img src=" " alt="" class="section-hero__img" />
  </div>
</section>
