<Section class="programs">
    <div class="container">
        
        <!-- !============ Заголовок и список (programs__list) ============ -->
        <h2 class="programs__title">Our program</h2>
        
        <ul class="programs__list">

            <li class="programs__first-item"><h3 class="programs__first-title">1 semester</h3>

                <ol class="programs__second-list"><p class="programs__second-title">-- Grammar</p>
                    <li class="programs__second-item">Nouns & Articles</li>
                    <li class="programs__second-item">Adjectives & Adverb</li>
                </ol>

                <ol class="programs__second-list"><p class="programs__second-title">-- Vocabulary</p>
                    <li class="programs__second-item">Family & Relations</li>
                    <li class="programs__second-item">People & Society</li>
                </ol>

            </li>
            <br />

            <li class="programs__first-item"><h3 class="programs__first-title">2 semester</h3>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Grammar</p>
                    <li class="programs__second-item">Pronouns</li>
                    <li class="programs__second-item">Active Voice</li>
                    <li class="programs__second-item">Passive Voice</li>
                </ol>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Vocabulary</p>
                    <li class="programs__second-item">Home</li>
                    <li class="programs__second-item">School</li>
                    <li class="programs__second-item">Work</li>
                </ol>
            
            </li>
            <br />

            <li class="programs__first-item"><h3 class="programs__first-title">3 semester</h3>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Grammar</p>
                    <li class="programs__second-item">Modal verbs</li>
                    <li class="programs__second-item">Infinitive</li>
                    <li class="programs__second-item">Gerund</li>
                    <li class="programs__second-item">Participle: 1, 2</li>
                </ol>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Vocabulary</p>
                    <li class="programs__second-item">Travel & Tourism</li>
                    <li class="programs__second-item">Culture & Free Time</li>
                    <li class="programs__second-item">Sport</li>
                </ol>

                <ol class="programs__second-list"><p class="programs__second-title">-- Writing</p>
                    <li class="programs__second-item">Informal Letter</li>
                </ol>
            
            </li>
            <br />

            <li class="programs__first-item"><h3 class="programs__first-title">4 semester</h3>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Grammar</p>
                    <li class="programs__second-item">Clauses: Conditional and Wishes</li>
                    <li class="programs__second-item">Direct / Reported speech</li>
                    <li class="programs__second-item">Preposition</li>
                    <li class="programs__second-item">Conjunction</li>
                    <li class="programs__second-item">Numeral</li>
                </ol>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Vocabulary</p>
                    <li class="programs__second-item">Healthy Living</li>
                    <li class="programs__second-item">Nature & Environment</li>
                    <li class="programs__second-item">Money</li>
                </ol>
            
                <ol class="programs__second-list"><p class="programs__second-title">-- Writing</p>
                    <li class="programs__second-item">Formal Letter</li>
                </ol>
            
            </li>
            <br />

            <li class="programs__first-item"><h3 class="programs__first-title">5 semester</h3>
            
                <ol class="programs__second-list"><p class="programs__second-title hiden">-- С К Р Ы Т Ь</p>
                    <li class="programs__second-item">Revision</li>
                    <li class="programs__second-item">Tests</li>
                    
                </ol>
            
            </li>
            <br />

        </ul>

    </div>
</Section>