.program {

    background-color: $title-color; 
    
    padding-top: 20px;
    padding-bottom: 604px;

    
    @include tablet {
        padding-top: 60px;
        padding-bottom: 364px;
    }

    @include desktop {
        padding-top: 80px;
        padding-bottom: 436px;
    }

    .container {
        text-align: center;

        @include tablet {
            text-align: left;
        }
    }

    // &__container {
    //     @include tablet {
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //     }
    // }

    // !++++++++++++ Стилизация текста ++++++++++++++++++
    &__title {
        @include title;
        // width: 280px;
        // width: 100%;
        margin-bottom: 40px;
        // text-align: center;
        color: $white-color;

        @include tablet {
            // width: 320px;
            text-align: left;
        }

        @include desktop {
            // width: 560px;
            font-size: 58px;
        }
    }

    // ++++++++++++++++++++++++++++++++++++++++++++++++++
    &__first-title {
        // text-align: left;
        margin-bottom: 4px;
        text-transform: uppercase;
        @include font(700, 14px, 2, 0.08em);
        color: $white-color;

        // @include tablet {
        //     font-size: 20px;
        //     line-height: 1.649;
        // }

        @include desktop {
            margin-bottom: 24px;
            font-size:  20px;
            line-height: 1.4;
            &--size {
                font-size: 30px;
                line-height: 0.93;
            }
        }
    }

    // ++++++++++++++++++++++++++++++++++++++++++++++++++
    &__second-title {
        margin-bottom: 4px;
        @include font(700, 12px, 1.64, 0.08em);
        color: $accent-color;

        // @include tablet {
        //     font-size: 20px;
        //     line-height: 1.649;
        // }

        @include desktop {
            margin-bottom: 8px;
            font-size:  20px;
        }
    }

    // ++++++++++++++++++++++++++++++++++++++++++++++++
    &__first-item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }

        // @include tablet {
        //     margin-bottom: 8px;
        // }

        @include desktop {
            margin-bottom: 0;
        }
    }

// ++++++++++++++++++++++++++++++++++++++++++++++++
    &__second-item {
        @include font(500, 12px, 1.67, 0.08em);
        color: $text-color-opacity;

        // @include tablet {
        //     font-size: 20px;
        //     line-height: 1.649;
        // }

        @include desktop {
            font-size:  18px;
            line-height: 1.56;
        }
    }

    // ============================================
    &__list {
        @include list;
        display: inline-block;
        text-align: left;
        padding-left: 30px;
        // background-color: tomato;

        @include tablet {
            margin-bottom: 40px;
        }

        @include desktop {
            margin-bottom: 24px;
        }
    }

    // ============================================
    &__second-list {
        @include list;
        margin-bottom: 4px;
            
        @include tablet {
            margin-bottom: 40px;
        }

        @include desktop {
            margin-bottom: 24px;
            
        }
    }
}
// !+++++++++++++++++++++++++++++++++++++++++++++++








    // &__pre-title {
    //     @include font(700, 14px, 1.57, 00.08em);
    //     margin-bottom: 40px;

    //     @include tablet {
    //         margin-bottom: 48px;
    //     }

    //     @include desktop {
    //         font-size: 20px;
    //         line-height: 1.649;
    //     }

    //     &--accent {
    //         @include mobile-upto-desktop {
    //             display: block;
    //             color: $accent-color;
    //         }
    //     }
    // }

