.program {

    background-color: $accent-text-color; //! $text-color
    padding-top: 20px;
    padding-bottom: 604px;

    &__list,
    &__second-list {
        @include list;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 364px;
    }

    @include desktop {
        padding-top: 80px;
        padding-bottom: 436px;
    }

    // &__container {
    //     @include tablet {
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between;
    //     }
    // }

    &__title {
        @include title;
        // width: 280px;
        // width: 100%;
        margin-bottom: 40px;
        text-align: center;
        color: $white-color;

        @include tablet {
            // width: 320px;
            text-align: left;
        }

        @include desktop {
            // width: 560px;
            font-size: 58px;
        }
    }


    &__first-title {
        text-transform: uppercase;
        @include font(700, 14px, 2, 0.08em);
        color: $white-color;

        // @include tablet {
        //     font-size: 20px;
        //     line-height: 1.649;
        // }

        @include desktop {
            font-size:  20px;
            line-height: 1.4;
            &--size {
                font-size: 30px;
                line-height: 0.93;
            }
        }
        
        
    }

    // !++++++++++++++++++++++++++++++++++++++
        // &___first-title--size {

        //     @include desktop {
        //         font-size:  30px;
        //         line-height: 0.93;
        //     }
        // }
    // !++++++++++++++++++++++++++++++++++++++


    // &__pre-title {
    //     @include font(700, 14px, 1.57, 00.08em);
    //     margin-bottom: 40px;

    //     @include tablet {
    //         margin-bottom: 48px;
    //     }

    //     @include desktop {
    //         font-size: 20px;
    //         line-height: 1.649;
    //     }

    //     &--accent {
    //         @include mobile-upto-desktop {
    //             display: block;
    //             color: $accent-color;
    //         }
    //     }
    // }

    
}